.loginForm{
    border: 2px solid blueviolet;
    margin: auto;
    text-align: left;
    padding: 50px;
    width: 15%;
}

.loginPage{
    background-color: darkgray;
    padding: 20px;
    text-align: center;
}

.loginTitle{
    background-color: blueviolet;
    color: whitesmoke;
    padding: 10px;
    width: 100%;
    text-align: center;
}

